@font-face {
  font-family: Cormorant SC;
  src: url('../fonts/CormorantSC-Regular.woff2');
  src: url('../fonts/CormorantSC-Bold.woff2');
  src: url('../fonts/CormorantSC-Light.woff2');
  src: url('../fonts/CormorantSC-Medium.woff2');
}
@font-face {
  font-family: Inter;
  src: url('../fonts/Inter-Medium.woff2');
  src: url('../fonts/Inter-Bold.woff2');
  src: url('../fonts/Inter-Regular.woff2');
  src: url('../fonts/Inter-LightBETA.woff2');
}

@mixin heading($name-color, $font-family, $size, $weight, $txt-transform) {
  color: $name-color;
  font-family: $font-family;
  font-size: $size;
  text-transform: $txt-transform;
  font-weight: $weight;
}

@mixin paragraph($name-color, $font-family, $size, $weight) {
  color: $name-color;
  font-family: $font-family;
  font-size: $size;
  font-weight: $weight;
}

@mixin btn($width-size, $height-size, $name-color, $border-size, $type-border, $padding-size) {
  background: $name-color;
  width: $width-size;
  height: $height-size;
  border-radius: $border-size;
  border: $type-border;
  padding: $padding-size;
}

@mixin btn-page($name-color, $padding, $type-background, $margin-size, $border, $size-txt) {
  width: 24px;
  height: 24px;
  color: $name-color;
  padding: $padding;
  background: $type-background;
  margin-right: $margin-size;
  border: $border;
  font-size: $size-txt;
  text-align: center;
}

@mixin btn-active($type-background, $border-radius, $weight-txt) {
  background: $type-background;
  font-weight: $weight-txt;
  border-radius: $border-radius;
}

@mixin btn-hover($border-color) {
  border-bottom: 1px solid $border-color;
}

@mixin search-inp($width-size, $border-style, $padding-size, $url-img, $color-name: none) {
  width: $width-size;
  border: $border-style;
  padding: $padding-size;
  background-image: url($url-img);
  background-repeat: no-repeat;
  background-position: 16px;
  outline: none;
  color: $color-name;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
}

@mixin display-style($name_display, $name-content: none) {
  display: $name_display;
  justify-content: $name-content;
  align-items: center;
}
